[Desktop Entry]
Name=vna/J 3.3.3 (MiniVNA Tiny)
Comment=Vector-Network-Analyser control (OpenJDK 8)
Exec=env _JAVA_AWT_WM_NONREPARENTING=1 /usr/lib/jvm/java-8-openjdk/jre/bin/java -jar /home/nate/Downloads/vnaJ.3.4.8.jar
Icon=vnaJ
Categories=Science;Electronics;Java;
StartupNotify=true
StartupWMClass=vnaJ
Terminal=true
Type=Application
